<% provide(:title, "Contact") %>
<div class="row">
    <div class="col-md-10 col-md-offset-1" id="contact-form">
        <iframe src="https://docs.google.com/forms/d/1IcPJ4c1P8X4zQq_hhbx_iSgaFVf3Fz3gspSJkugE0BI/viewform?embedded=true"
            height="500" frameborder="0" marginheight="0" marginwidth="0" class="col-md-12">
            Loading...
        </iframe>
    </div>
</div>
