<% provide(:title, "Contact") %>
<div class="row">
    <div class="well col-md-10 col-md-offset-1 text-center" >
        <div class="col-md-10 col-md-offset-1" id="contact-form" >
            <iframe src="https://docs.google.com/a/smail.iitm.ac.in/forms/d/1fPD_0amYuRvXtavOtSQXlk_r3KnajV_ZJRMA6pwPn9c/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
    </div>
</div>
