<div class="row">
    <%= image_tag "logo_black.png", class: "col-md-12" %>
</div>
<% if not logged_in? %>
    <div class="row">
        <%= link_to "Register now!", register_path, class: "btn btn-default btn-lg col-md-4 col-md-offset-4" %>
    </div>
<% end %>