<div class="row">
    <img class="col-md-12" src="/assets/logo_black.png">
</div>
<% if not logged_in? %>
    <div class="row">
        <%= link_to "Register now!", register_path, class: "btn btn-default btn-lg col-md-4 col-md-offset-4" %>
    </div>
<% end %>