<% provide(:title, "Resource") %>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          FRONTEND
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
              <img src ="/assets/html5.gif" width="50px">
  HTML5
</button>

<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
              <img src ="/assets/css.jpg" width="80px">
  
  
  
</button>                                              

<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
              <img src ="/assets/js.png" width="50px">
  JAVASCRIPT
  
  
</button>

<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
              <img src ="/assets/jquery.png" width="140px">
  
</button>

<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" width="70px">
              <img src ="/assets/svg.jpg" width="50px"> SVG
  
</button>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          BACKEND
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
          <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" width="70px">
              <img src ="/assets/dj.jpg" width="90px"> 
  
           </button>
           
           <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" width="70px">
              <img src ="/assets/j2ee.png" width="80px"> J2EE
  
           </button>
           
           <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" width="70px">
              <img src ="/assets/rails.jpg" width="38px"> RAILS
  
           </button>
           
           <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" width="70px">
              <img src ="/assets/php.jpg" width="88px"> 
              
  
           </button>
           
           <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" width="70px">
              <img src ="/assets/Mysql.jpg" width="65px"> 
  
           </button>
           
           
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          TUTORIALS 
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
                     <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" width="70px">
              <img src ="/assets/tz.jpg" width="180px"> 
  
           </button>
           
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" width="70px">
              <img src ="/assets/w3.jpg" width="180px"> 
  
           </button>
           
           <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" width="70px">
              <img src ="/assets/ror.PNG" width="160px"> 
  
           </button>
           
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" width="70px">
              <img src ="/assets/dj1.PNG" width="160px"> 
  
           </button>
           
      </div>
    </div>
  </div>
</div>


<p>Find me in app/views/static_pages/resource.html.erb</p>
