<% provide(:title, 'All users') %>
<h1>All users</h1>
<table class="table table-bordered table-striped" id="allUsersTable">
  <thead>
    <th>ROLL</th>
    <th>NAME</th>
    <th>WEBOPS SKILLS</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.roll.upcase!, user %></td>
        <td><%= user.name %></td>
        <td>
          <ul>
            <% user.webops_skill.each do |skill| %>
              <li><%= skill %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    $('#allUsersTable').DataTable({
      'pagingType': 'simple',
      'dom': "<'row'<'col-md-6'l><'col-md-6'f>><'row'<'col-md-6'i><'col-md-6'p>r>t<'row'<'col-md-6'l><'col-md-6'p>>",
    });
  });
</script>